:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --dark-dark:#000000;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }
  header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  *{
    background: 
    url('/img/bg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    backdrop-filter: blur(5.2px);
    color: white;
  }
  
  .slideshow-container {

    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: auto;
    background:none;
    overflow: hidden;
    border-radius: 12px;
    max-width:85em;
    border: 1px solid var(--greyLight-2);
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


  }
  
  .slideshow-images {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height:800px;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px 10px 11px;
    overflow: hidden;
    background: none;
    
  }
  
 
  
  .slideshow-images.active {
    visibility: visible;
  }
  
  .slideshow-images img {
     width: 100%;
     position: relative;
     object-fit: cover;
     border-radius: 20px;
     background: none;
  }
  .child:first-child{
     padding-bottom: 50px;
  }
  
  
  .right,
  .left{
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 30%;
  }
  
  .right:hover{
    transform: scale(0.9);
    border-radius:20px;
    box-shadow: 0px 4px 8px rgba(177, 58, 58, 0.2);
  }
  
  .left:hover{
    transform: scale(0.9);
    border-radius:20px;
  }
  
  .slideshow-container h2 {
    font-size: 40px;
    padding: 10px;
    margin: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    background: none;

  }
  .caption {
    position: absolute;
    top: 15%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    border-radius: 10px;
    background: none;
  }
  

  /* ------------responsiveness------------  */


  @media all and (width < 600px){

     .slideshow-container{
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
     }
     .slideshow-images{
      position: absolute;
      left: 0;
      top: 0;
      right: 0; 
      flex-direction: column;
      object-fit: cover;
      width: 500px;
      background: none;
      cursor:pointer;
      
     }
     .left,
     .right{
      position: absolute;
      top: 15%;
     left: 2.5%;
     background: none;
     cursor: pointer;
     }
     .slideshow-images img{
      object-fit: cover;
      width: 300px;
      height: 350px;
      background: none;
      border-radius: 15px;
      background: none;
      cursor: pointer;
     }
     .slideshow-container h2{
      margin-left: auto;
      margin-right: auto;
      width: 10px;
      position: absolute;
      top: 62%;
      padding: 10px;
      left: 25%;
      font-size: 26px;    
     }
   header{
    position: relative;
    top: 5%;
   }

    
      .caption{
        position: absolute;
        top: 0%;
        left: 10%;
       
       display: block;
        font-size: 35px;
        text-align: center;
        color: red;
        
        border: 1px dashed red;
        
      }
    }
    

  